@font-face {
  font-family: Cormorant;
  font-display: swap;
  src: url("../fonts/Cormorant-VariableFont_wght.woff2") format("woff2"), url("../fonts/Cormorant-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Cormorant;
  font-display: swap;
  src: url("../fonts/Cormorant-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/Cormorant-Italic-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Cormorant;
}

body span {
  color: aqua;
}

.red {
  color: red;
}